header {
	background-color: #69967a;
    color: white;
    border: solid;
    border-color: black;
}
h1 {
	font-size: 3em;
    font-family: Arial, Tahoma, sans-serif;
    font-weight: bold;  
    color: white;
    background-color: #69967a;
    margin: 0.5em;
    text-align: center;
    text-transform: uppercase;
}
h2{
	font-size: 1.5em;
    font-family: Arial, Tahoma, sans-serif;
    font-weight: bold;  
    color: black;
    background-color: #97c2a7; 
	padding: 1em;	
    margin: 0.5em;
    text-align: center;
    text-transform: uppercase;
}
h3{
	font-size: 1.3em;
    font-family: Arial, Tahoma, sans-serif;
    font-weight: bold;  
    color: black;
    background-color: #bed7c7;  
    margin-left: 10em;
	margin-right: 10em;
    text-align: center;
    text-transform: uppercase;
	padding: 0.7em;
}
h4 {
	font-size: 1.2em;
	font-weight: bold;  
    color: black;
	font-family: Arial, Tahoma, sans-serif;
	background-color: #ddefe4;
	margin-left: 22em;
	margin-right: 22em;
	text-align: center;
	text-transform: uppercase;
	padding: 0.3em;
}
p {
	font-family: "Times New Roman", serif;
	text-align: center;
}

img {
    width: 15em;
	display: block;
	margin: 3em auto;
}

video{
    width: 15em;
	display: block;
	margin: 3em auto;
}