/* Iyan Sanjurjo - UO264921 */


body {
    display: grid;
    grid-template-areas:
    ". nav ."
    ". header ."
    ". main ."
    ". footer .";
    grid-template-columns: 10% 80% 10%;
}
header {
    grid-area: header;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-areas:
    "a a a a";
    grid-template-columns: 25% 25% 25% 25%;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}