section {
	grid-area:section;
	background-color: #d8d6ff;
	color:black;
	border-style: solid;
	border-width: 0.3em;
	border-color: black;
	display: grid;
	grid-template-areas: 
	"h2"
	"label"
	"text"
	"article";
	grid-template-columns: 100%;
}
header{
	grid-area: header;
}

article>input:nth-child(10){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(11){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(12){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(14){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(15){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(16){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(18){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(19){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(20){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(23){
	background-color: #d8d6ff;
	color: black;
}
article>input:nth-child(24){
	background-color: #ffb6b6;
	color: black;
}

h1{
	font-size: 3em;
}
h2{
	grid-area: h2;
	color: white;
	background-color: rgb(53, 53, 53);
	text-align: center;
	padding: 0.4em;
}
article{
	display: grid;
	grid-template-areas: 
	"h2 h2 h2 h2"
	"input input input input";
	grid-template-columns: 25% 25% 25% 25%;
	background-color: #efefff;
	color: black;
}
label{
	grid-area: label;
	color: rgb(0, 0, 0);
	background-color: #d8d6ff;
	padding: 0.2em;
	font-size: 1.2em;
}
body {
	text-align: center;
	display: grid;
	grid-template-areas: 
	". header ."
	". section ."
	". section ."
	". section .";
	grid-template-columns: 25% 50% 25%;
	
}

input[type=button]{
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0.5em;
	background-color: white;
	color:black;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	font-size: 1em;
}

input[type=text]{
	grid-area: text;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: white;
	color:black;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	font-size: 1em;
	text-align: center;
}

