section {
	grid-area:section;
	background-color: #919191;
	color:black;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
}
header{
	grid-area: header;
}
h1{
	font-size: 3em;
}
h2{
	color: white;
	background-color: black;
	text-align: center;
	padding: 0.4em;
}
article{
	display: grid;
	grid-template-areas: "input input input input";
	background-color: rgb(172, 102, 84);
	color: black;
}
label{
	background-color: black;
	color: white;
	padding: 1em;
}
body {
	text-align: center;
	display: grid;
	grid-template-areas: 
	". header ."
	". section ."
	". section ."
	". section .";
	grid-template-rows: 25% 50% 25%;
	
}

input[type=button]{
	padding: 1em;
	margin: 1em;
	background-color: white;
	color:black;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	font-size: 1em;
}

input[type=text]{
	padding: 1em;
	margin: 1em;
	background-color: white;
	color:black;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	font-size: 1em;
	
}

